
 
 
<div class="top-wrapper">
 <div class="top-container">
   <h2> ”理想の身体”へ、</h2>
   <h3>即効チャージ。</h3>
   
 </div>
</div>



<div class="top-product-wrapper">
 <div class="top-product-container">
  <h2>TOKYO PROTEINのプロテイン
  </h2>
  <div class="contents">

   <div class="content">
    <div class="content-img">
     <img src="/logo_img/product_img.png">
     </div>
     <a href="/products/1" class="content-name">【TOPRO】品名商品名プロテインストロベリー味 1kg
     </a>
    <div class="content-rating">
   </div>
   <div class="content-favo">
   </div>
   <a class="content-price">¥2,000
   </a>
   </div>



   <div class="content">
   <div class="content-img">
   <img src="/logo_img/product2.png">
    </div>
    <a href="/products/2" class="content-name">【TOPRO】TOPRO SPECIAL PROTEIN バニラ味 1kg
    </a>
   <div class="content-rating">
  </div>
  <div class="content-favo">
  </div>
  <a class="content-price">¥1,800
  </a>
  </div>



  <div class="content">
  <div class="content-img">
   <img src="/logo_img/product_img.png">
   </div>
    <a href="products/show" class="content-name">【TOPRO】品名商品名プロテインストロベリー味 1kg
  </a>
  <div class="content-rating">
 </div>
 <div class="content-favo">
 </div>
 <a class="content-price">¥2,980
 </a>
 </div>



 <div class="content">
 <div class="content-img">
  <img src="/logo_img/product_img.png">
  </div>
   <a href="products/show" class="content-name">【TOPRO】品名商品名プロテインストロベリー味 1kg
 </a>
 <div class="content-rating">
</div>
<div class="content-favo">
</div>
<a class="content-price">¥2,980
</a>
</div>



<div class="content">
<div class="content-img">
 <img src="/logo_img/product_img.png">
 </div>
  <a href="products/show" class="content-name">【TOPRO】品名商品名プロテインストロベリー味 1kg
</a>
<div class="content-rating">
</div>
<div class="content-favo">
</div>
<a class="content-price">¥2,980
</a>
</div>



<div class="content">
<div class="content-img">
 <img src="/logo_img/product_img.png">
 </div>
  <a href="products/show" class="content-name">【TOPRO】品名商品名プロテインストロベリー味 1kg
</a>
<div class="content-rating">
</div>
<div class="content-favo">
</div>
<a class="content-price">¥2,980
</a>
</div>

 </div>
</div>
</div>



