<div class="action-wrapper">
 <div class="action-container">
  <h1>購入しました-------------!!!!!!</h1>
  <div class="action-left">
   <img src="/logo_img/product_img.png" class="action-img-top">
   <img src="/logo_img/product_img.png" class="action-img-bottom">
  </div>

  
 
 </div>
</div>
